---
import { Image } from 'astro:assets';
import logoWhite from '~/assets/images/autopro-logo-white.png';
---
<span class="self-center">
  <Image
    src={logoWhite}
    alt="Sylvan Lake AUTOPRO"
    class="h-16 md:h-20 w-auto"
    loading="eager"
  />
</span>